@import "tailwindcss";

@theme {
  /* Цвета */
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-catalog: #3b3a3e;
  --color-violet: #8776F9;

  /* Типографика  */
  --text-ui-13: 13px;
  --leading-ui-13: 16px;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}